<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>NeoCLIApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>

  @RenderBody()
  <script type="text/javascript" src="~/dist/inline.bundle.js"></script>
  <script type="text/javascript" src="~/dist/polyfills.bundle.js"></script>
  <script type="text/javascript" src="~/dist/styles.bundle.js"></script>
  <script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
  <script type="text/javascript" src="~/dist/main.bundle.js"></script>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
